@import "_animation";
@import "_vars";
.points-container {
  .avatar {
    position: relative;
    flex: 0 0 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-thumbnail {
      padding: 0;
    }
  }

  & > a.btn {
    position: relative;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background-image: url("/plugins/nodebb-plugin-ns-points-china/images/gold.png");
        z-index: 1;
        background-size: cover;
        border-radius: 50%;
        top: 65px;
        left: 16px;
      }
    }
    &:nth-child(2)::before {
      background-image: url("/plugins/nodebb-plugin-ns-points-china/images/silver.png");
    }
    &:nth-child(3)::before {
      background-image: url("/plugins/nodebb-plugin-ns-points-china/images/bronze.png");
    }
  }
}

// .points-container {

//   .row {
//     margin-bottom: $line-margin;
//   }

//   .points-avatar {
//     position: relative;
//     width: $avatar-size;
//     height: $avatar-size;
//     padding: 0;
//     flex-shrink: 0;

//     .icon-thumbnail {
//       width: 100%;
//       height: 100%;
//       line-height: $avatar-size;
//       font-size: $ns-points-avatar-font-size;
//       border-radius: 50%;
//       text-align: center;
//       color: fade($color-light, 87%);
//     }

//   }

//   .points-stats {
//     flex: 1;
//     margin-left: $block-margin;
//     min-width: 0;

//     .points-numbers {
//       display: block;
//       text-transform: lowercase;
//     }

//     .rank-progress {
//       display: block;
//       text-transform: lowercase;
//     }

//     .progress {
//       height: $progress-height;
//       margin: $padding-s 0;
//     }
//   }

//   .points-user-info {
//     width: 100%;
//   }

//   .points-user-name {
//     font-weight: $font-narrow;
//     font-size: $username-size;

//     display: block;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     width: 100%;
//   }

//   .points-user {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//   }
// }
